In [37]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas_profiling as pdp
#from scripts import project_functions

In [38]:
sns.set_theme(font_scale=1.5, style="ticks")

In [39]:
def load_and_process(path):
    
    import pandas as pd
    load = (
    pd.read_csv(path,header = None)
    .rename(columns={0:"instant",1:"dteday",2:"season",3:"yr",4:"mnth",5:"hr",6:"holiday",7:"weekday",
                     8:"workingday",9:"weathersit",10:"temp",11:"atemp",12:"hum",13:"windspeed",
                     14:"casual",15:"registered",16:"cnt"})
    .dropna()
    .rename(index = lambda x: x + 1) 
    )

    return load

df = load_and_process("C:\\Users\\ASUS\\Documents\\GitHub\\course-project-group_1028\\data\\raw\\hour.csv")
df

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
1,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
2,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0,3,13,16
3,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0,8,32,40
4,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0,5,27,32
5,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0,3,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17376,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.6,0.1642,11,108,119
17377,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.6,0.1642,8,81,89
17378,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.6,0.1642,7,83,90
17379,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17380,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [40]:
df.shape

(17380, 17)

In [41]:
df.describe()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17380,17380,17380,17380,17380,17380,17380,17380,17380,17380,17380,17380,17380,17380,17380,17380,17380
unique,17380,732,5,3,13,25,3,8,3,5,51,66,90,31,323,777,870
top,9308,2012-09-22,3,1,7,17,0,6,1,1,0.62,0.6212,0.88,0,0,4,5
freq,1,24,4496,8734,1488,730,16879,2512,11865,11413,726,988,657,2180,1581,307,260